<ion-view view-title="Notes....." ng-controller="ListCtrl">
	<ion-content>
	    <ion-list show-reorder="reordering">
	       	<ion-item class="item-remove-animate item-icon-left" href="#/edit/{{note.id}}" ng-repeat="note in notesText track by note.id">
	        	<h2>{{note.title}}</h2>
	        	<p>{{note.description}}</p>
	        	<i class="icon ion-ios-circle-filled"></i>
	        	<ion-reorder-button class="ion-drag" on-reorder="moveNote(note, $fromIndex, $toIndex)"></ion-reorder-button>
	        	<ion-option-button class="button-assertive icon-left ion-trash-b" ng-click="delete(note.id)">Delete</ion-option-button>
	        </ion-item>
	    </ion-list>
	</ion-content>
	<div class="bar bar-footer bar-stable">
			<a href="#/add" class="button button-positive icon-left ion-compose" style="width: 48%;">Add a new note</a>
			<button class="button button-light icon-left ion-shuffle" style="width: 48%;" ng-click="toggleReorder()">Reorder</button>
	</div>
</ion-view>