<ion-view view-title="Notes.....">
	<ion-content ng-controller="ListCtrl">
		<div class="padding">
			<a href="#/add" class="button button-block button-calm">Add a new note</a>
		</div>
	    <ion-list>
	       	<ion-item class="item-remove-animate" href="#/edit/{{note.id}}" ng-repeat="note in notesText">
	        	<h2>{{note.title}}</h2>
	        	<p>{{note.description}}</p>
	        	<ion-option-button class="button-assertive" ng-click="delete(note.id)">Delete</ion-option-button>
	        </ion-item>
	    </ion-list>
	</ion-content>
</ion-view>