.tab-item.tab-item-active i, .tab-item.active i, .tab-item.activated i {
    color: #555555 !important;
}

.weatherMorning, .geoMorning, .settingsMorning{
    background: #324b5b;
}

.weatherNight, .geoNight, .settingsNight{
    background: #333333;
}

.heading, .location, .weatherIcon, .description, .temperature, .time{
    color: #fff;
    text-align: center;
}

.statement{
    color: #fff;
    margin-left: 10px;
    margin-top: 5px;
}

.temperature{
    font-size: 70px;
    font-weight: 200;
}

.location{
    font-size: 28px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 15px !important;
}

.description{
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
}

.time{
    font-family: 'Ubuntu', sans-serif;
    margin: 20px;
}

.listStyle, .inputCity:focus, .resultsDisplay, .defaultCity:focus{
    -webkit-box-shadow: 0 8px 6px -6px #222 !important;
    -moz-box-shadow: 0 8px 6px -6px #222 !important;
    box-shadow: 0 10px 6px -6px #222 !important;
}

.inputCity, .defaultCity{
    width: 100%;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px !important;
}

.inputCity{
    margin-bottom: 5px;
}

[ripple]{
    overflow: hidden;
}

.rip {
    display: block;
    position: absolute;
    background:rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -o-transform:scale(0);
    transform:scale(0);
}

.animate-ripple {
    -webkit-animation:ripple 0.65s linear;
    -moz-animation:ripple 0.65s linear;
    -ms-animation:ripple 0.65s linear;
    -o-animation:ripple 0.65s linear;
    animation:ripple 0.65s linear;
}

@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2.5);}
}

@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(2.5);}
}

@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(2.5);}
}

@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}