/* Empty. Add your own CSS if you like */
.blackBG{
    background-color:#111;
}

.heading{
    font-size: 28px;
    font-weight: 300;
    margin-top: 15px !important;
}

.headingHighlight{
    font-weight: 700;
}

.heading, .textDescription{
    font-family: 'Ubuntu', sans-serif;
    color: dodgerblue;
    text-align: center;
}

.textDescription{
    font-size: 15px;
    margin-top: 20px;
}

#inputSongName{
    margin-top: 30px;
    width: 100%;
    padding-left: 6px;
    background-color: gray;
    margin-bottom: 30px;
}

.inputSong:focus{
    -webkit-box-shadow: 0 8px 6px -6px #000 !important;
    -moz-box-shadow: 0 8px 6px -6px #000 !important;
    box-shadow: 0 10px 6px -6px #000 !important;
}

.img{
    display: inline-block;
}

.textInfo{
    margin-left: 10px;
}