/* Empty. Add your own CSS if you like */
.blackBG{
    background-color:black;
}

.heading{
    color: lawngreen;
    text-align: center;
    font-size: 28px;
    font-weight: 300;
    margin-top: 15px !important;
}

.headingHighlight{
    font-weight: 600;
}

.textDescription{
    color: lawngreen;
    font-size: 15px;
    text-align: center;
}