<ion-view view-title="Settings">
  <ion-content id="settingsTab" class="settingsMorning">
    <div class="list">
        
        <div class="item item-divider"> 
            GPS for Geo Location
        </div>
        
        <ion-toggle ng-repeat="item in settingsList"
                    ng-model="item.checked" 
                    ng-checked="item.checked"
                    ng-change="saveGPSValue()">
          {{ item.text }}
        </ion-toggle>
        
        <div class="item item-divider"> 
            Select Your Default City
        </div>
        
        <input id="inputSettings" ng-keyup="getQuery(search)" name="search" ng-model="search" class="defaultCity" type="text" value="" placeholder="Enter City"></input>
      
        <p class="statement">Current: {{defaultCity}} </p>
      
        <div class="list animated zoomIn" ng-If="check != 0">
            
            <button ng-click="save()" class="ripple button button-positive button-block">Save Your Changes</button>
            
            <ion-item class="resultsDisplay" ng-click="selectCity(result)" ng-repeat="result in results">{{result.name}}</ion-item> 
        </div>
        
    </div>
  </ion-content>
</ion-view>
