<ion-view view-title="Weather"> 
  <ion-content class="padding weather">
      <ion-grid ng-If="weather">
          <ion-row>
              <ion-col width-100>
                  <input ng-keyup="getQuery(search)" name="search" ng-model="search" class="inputCity" type="text" value="" placeholder="Enter City"></input>
              </ion-col>
              <ion-list>
                  <ion-item ng-repeat="result in results">{{result.name}}</ion-item>  
              </ion-list>
          </ion-row>
          <ion-row>
              <ion-col width-50 offset-25>
                  <h2 class="location">{{weather.display_location.full}}</h2>
                  <div class="weatherIcon"><img src="{{weather.icon_url}}"></div>
                  <h3 class="description">{{weather.weather}}</h3>
                  <h3 class="temperature">{{weather.temp_c}}&deg; C</h3>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col width-100>
                  <div class="list listStyle">
                      <ion-item class="firstItem">
                          <strong>Temp: </strong>{{weather.temperature_string}}
                      </ion-item>
                      <ion-item class="firstItem">
                          <strong>Wind Speed: </strong>{{weather.wind_kph}} Km/hr
                      </ion-item>
                      <ion-item class="firstItem">
                          <strong>Relative Humidity: </strong>{{weather.relative_humidity}}
                      </ion-item>
                      <ion-item class="firstItem">
                          <strong>Visibility: </strong>{{weather.visibility_km}} Km
                      </ion-item>
                      <ion-item class="firstItem">
                          <strong>Dewpoint: </strong>{{weather.dewpoint_c}}&deg; C
                      </ion-item>
                      <ion-item class="firstItem">
                          <strong>UV Index: </strong>{{weather.UV}}
                      </ion-item>
                      <ion-item class="firstItem">
                          <strong>Pressure: </strong>{{weather.pressure_in}} inches
                      </ion-item>
                  </div>
              </ion-col>
          </ion-row>
          <h6 class="time">{{weather.observation_time}}</h6>
      </ion-grid>
  </ion-content>
</ion-view>
