<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Search Tab -->
  <ion-tab title="Search" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Player Tab -->
  <ion-tab title="Player" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/player">
    <ion-nav-view name="tab-player"></ion-nav-view>
  </ion-tab>

  <!-- AboutMe Tab -->
  <ion-tab title="About Me" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/aboutme">
    <ion-nav-view name="tab-aboutme"></ion-nav-view>
  </ion-tab>


</ion-tabs>
