<ion-view view-title="{{ticker}}">

	<div class="bar bar-subheader bar-light">
		<div class="buttons" side="left">
			<div class="button button-clear">
				<h6>Company Name Inc.</h6>
			</div>
		</div>

		<h2 class="title button-left button-right">12321.2131</h2>

		<div class="buttons" side="right">
			<div class="button button-clear">
				<h6>+90.232%</h6>
			</div>
		</div>

	</div>

	<ion-content class="has-subheader">

	<div class="card">
		<div class="item item-divider">Market Data</div>
		<div class="row row-center">
			<div class="col">Data:</div>
			<div class="col">12321.2131</div>
		</div>
	</div>

	<div class="card">
		<div class="item item-divider">Notes</div>
		<a class="item">
			<h2>Note Title</h2>
		</a>
	</div>

	<div class="card">
		<div class="item item-divider">News</div>
		<a class="item item-icon-right">
			<h2>Story Title</h2>
			<i class="icon ion-ios-arrow-right"></i>
		</a>
	</div>

  	</ion-content>
</ion-view>
